body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #ff23da;
    color: white;
    text-align: center;
    padding: 1em 0;
}

nav {
    background: #333;
    color: white;
    padding: 0.5em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 1em;
}

section {
    background: white;
    margin: 1em 0;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
body {
    font-family: 'Roboto', sans-serif; /* Fonte para o texto */
}

h1, #lista-titulos a {
    font-family: 'Playfair Display', serif; /* Fonte para os títulos */
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: underline;
}


